{% for name, upstream in item.upstreams.items() %}
upstream {{ name }} {
{% for target, options in upstream.servers.items() %}
	server {{ target }}{% for key, value in options.items() %} {{ key }}={{ value }}{% endfor %};
{% endfor %}
}
{% endfor %}
{% if "additional_global_config" in item %}

{{ item.additional_global_config }}
{% endif %}

server {
	listen 443 ssl;
	listen [::]:443 ssl;

	ssl_certificate /var/lib/dehydrated/certs/{{ item.canonical_name }}/fullchain.pem;
	ssl_certificate_key /var/lib/dehydrated/certs/{{ item.canonical_name }}/privkey.pem;
	include snippets/ssl_config.conf;

	server_name {{ item.canonical_name }}{% for name in item.additional_names %} {{ name }}{% endfor %};

	root {{ item.root }};
{% if "additional_server_config" in item %}

	{{ item.additional_server_config }}
{% endif %}
{% for location, content in item.locations.items() %}

	location {{ location }} {
{% if "try_files" in content %}
		try_files {{ content["try_files"] }};
{% endif %}
{% if "proxy_pass" in content %}
		proxy_pass {{ content["proxy_pass"] }};
{% endif %}
{% if "proxy_headers" in content %}

{% for header, value in content["proxy_headers"].items() %}
{% if value is none %}
		proxy_pass_header {{ header }};
{% else %}
		proxy_set_header {{ header }} "{{ value }}";
{% endif %}
{% endfor %}
{% endif %}
{% if "headers" in content %}

{% for header, value in content["headers"].items() %}
		add_header {{ header }} "{{ value }}";
{% endfor %}
{% endif %}
{% if "additional_config" in content %}

		{{ content["additional_config"] }}
{% endif %}
	}
{% endfor %}
}
